<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="uber" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="lyft" />
        </intent>
    </queries>

    <application android:usesCleartextTraffic="true"
        android:name=".SarahApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ic_sarah_launcher_v2"
        android:label="Sarah Morgan"
        android:roundIcon="@drawable/ic_sarah_launcher_v2"
        android:supportsRtl="true"
        android:theme="@style/Theme.SarahMorgan"
        android:usesCleartextTraffic="false">

        <service
            android:name=".DealWatchWorker"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".EventMonitorJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".FlightCalmActivity" android:exported="false" />
        <activity android:name=".TravelHubActivity" android:exported="false" />
        <activity android:name=".TripPlannerActivity" android:exported="false" />
        <activity android:name=".HotelSearchActivity" android:exported="false" />
        <activity android:name=".TransportOptionsActivity" android:exported="false" />
        <activity android:name=".RideLauncherActivity" android:exported="false" />
        <activity android:name=".LocalExperienceActivity" android:exported="false" />
        <activity android:name=".RoadTripActivity" android:exported="false" />
        <activity android:name=".EventTripCenterActivity" android:exported="false" />
        <activity android:name=".LoyaltyWalletActivity" android:exported="false" />
        <activity android:name=".TravelerNeedsActivity" android:exported="false" />
        <activity android:name=".StayAssistantActivity" android:exported="false" />
        <activity android:name=".HospitalityOpsActivity" android:exported="false" />
        <activity android:name=".VoiceConciergeActivity" android:exported="false" />
        <activity android:name=".TravelExplorerActivity" android:exported="false" />

        <activity
            android:name=".BookingImportActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".TravelNotebookActivity" android:exported="false" />
        <activity android:name=".OnboardingActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <activity android:name=".DiscoveryActivity" android:exported="false" />
        <activity android:name=".TrustedSyncActivity" android:exported="false" />
        <activity android:name=".HackathonDemoActivity" android:exported="false" />
        <activity android:name=".SponsorConnectionsActivity" android:exported="false" />
        <service android:name=".ProactiveDiscoveryJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false" />
    </application>
</manifest>
